{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link rel="stylesheet" href='{% static "styles/uprofile.css" %}'>

</head>
<style>
   
    
</style>
<body>
    <div class="userheader">
  <div>

<h1 id="username">ANUSHKA VARSHNEY</h1>
{% for email in booked %}
<div id="email">{{ email.email }}</div>
{% endfor%}
</div>
<button id="edit" onclick="location.href='{% url 'editprofile' %}'">EDIT PROFILE</button>

</div>
<div>
    <h1 id="head"> BOOKED TICKETS</h1>
</div>
{% for ticket in booked %}
<div class="tickets">
    
    <div class="event">
    <div id="thumbnail" ><img src="{%static 'images/thumbnail.jpg' %}"width=180px height=100px /></div>
    <div class="container3">
       <div id="mainheading"><h1>{{ticket.event.eventDisplay}} </h1></div>
       <a href='pep'>visitpage</a>
    </div>
</div>

<div class="container">
    <div class="v">Venue
    <div id="venue">{{ticket.event.eventAddress}},{{ticket.event.eventCity}}</div>
    </div>
    <div class="t">Time
    <div id="time">{{ticket.event.eventStartDate}}</div>
</div>
<div class="d">Date
    <div id="date">{{ticket.event.eventStartDate}} TO {{ticket.event.eventEndDate}} </div>
</div>

</div> 
<hr> 
<div class="code">
    TICKET TYPE:<div style="color:green;">NORMAL</div><br>
    <div id="code">coupon code : </div><div><img src="{%static 'images/testqr.jpg' %}"width=100px height=100px /></div>

</div>     

</div>
{%endfor%}

    
</div>

</body>
</html>