<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link rel="stylesheet" href="editprofile.css">
</head>
<body>

        
        
        <!-- edit form column -->
        
        <div class="container bootstrap snippets bootdey">
            <h1 class="text-primary">Edit Profile</h1>
              <hr>
            
              <!-- edit form column -->
                <h3>Personal info</h3>
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-3 control-label">First name:</label>
                    <div class="col-auto">
                      <input class="form-control" type="text" value="dey-dey">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" value="bootdey">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-3 control-label">Company:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-3 control-label">Email:</label>
                    <div class="col-8">
                      <input class="form-control" type="text" value="janesemail@gmail.com">
                    </div>
                  </div>
                  
                </form>
              </div>
          </div>
        </div>
        <hr>
        <div class="col-md-8 col-sm-12" >
            <input type="button" class="save" value="Save Changes">
            <span></span>
            <input type="reset" class="cancel" value="Cancel">
        </div>

</body>
</html>

