<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link rel="stylesheet" href="user.css">
    
</head>
<body>
    <div class="userheader">
  <div>

<h1 id="username">ANUSHKA VARSHNEY</h1>
<div id="email">anushka.pkg@gamil.com</div>
</div>
<button id="edit" onclick = "window.location.href='editprofile.html';">EDIT PROFILE</button>

</div>
<div>
    <h1 id="head"> BOOKED TICKETS</h1>
</div>
<div class="tickets">
    <div class="event">
    <div id="thumbnail" ><img src="images/thumbnail.jpg"width=180px height=100px /></div>
    <div class="container3">
       <div id="mainheading"><h1>FLUXUS </h1></div>
       <a href="pep.html">visitpage</a>
    </div>
</div>
    
<div class="container">
    <div class="v">Venue
    <div id="venue">IIT INDORE</div>
    </div>
    <div class="t">Time
    <div id="time">6:00PM</div>
</div>
<div class="d">Date
    <div id="date">22 june 2023</div>
</div>

</div> 
<hr> 
<div class="code">
    BOOKING STATUS:<div style="color:green;">BOOKED</div><br>
    <div id="code">coupon code : </div><div><img src="images/testqr.jpg"width=100px height=100px /></div>

</div>     

</div>

    
</div>

</body>
</html>