*
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar
{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right,#00093c,#2d0b00);
    justify-content: space-between;
    align-items: center;
    
}
#eventlogo
{
    display: flex;
    width: 100px;
    height: 100px;
    filter: invert(100%);
    margin: 5px;
    padding: 0px;

}

.navbarul
{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
}
.navbarli
{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 70px;
   align-self: flex-end;


}
.navbarli a
{
    text-decoration: none;
    color: white;
    align-self: flex-end;
}

.navbarsearch
{
    align-self: flex-end;
    margin: 13px 50px;
    border-radius:10 px;
    display: flex;
    flex-wrap: wrap;
}
.navbarsearch input
{
    width: 30em;
    border-radius: 7px;

}

.navbarbutton
{
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 5px;
    align-self: flex-end;
}
#navbarbutton1
{
    align-self: center;
    margin: 5px 7px;
    padding: 0px 10px;
    border:1px solid white;
    background: none;
    color: white;
    border-radius: 10px;

}

#navbarbutton1:hover
{
    background: white;
    color: black;
    cursor: pointer;

}
.navbarbutton p
{
    margin: 5px;
    padding: 5px;
}
.profilelogo
{
    filter: invert(100%);
    display: block;
    align-self: flex-end;
    margin-right: 40px;
    margin-bottom: 7px;
    
}


.maincontainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.maincontainer h3
{
    margin: 10px 20px;
    padding: 5px 15px;

}
.mostpopularevents
{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    overflow-wrap: break-word;
}
.eventcontainer
{
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    width: 300px;
    height: 300px;
}
.eventcontainer a
{
    text-decoration: none;
}
.eventcontainer h4
{
    color: #2d0b00;
}
.eventcontainer p
{
    color: #00093c;
}

.selectgerne
{
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.gerne
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gerne li
{
    border: 2px solid #00093c;
    background: linear-gradient(to right,#00093c,#2d0b00);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 5px;
}
.gerne img
{
    filter: invert(100%);
}
.gerne a
{
    text-decoration: none;
    color: white
}
.gerne li:hover
{
    opacity: 0.5;
    background-color: grey;
}











